/* Common Styles */
main {
    width: 960px;
    margin: 0 auto;
}

header {
    background-color: beige;
    margin-bottom: 30px;
}

header div:first-child {
    width: 960px;
    margin: 0 auto;
}

header div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header a {
    margin-right: 30px;
    text-decoration: none;
}

/* Hide images visually - consider using display: none; or visibility: hidden; for better accessibility */
header img {
    display: none;
}

/* Hide content visually - consider using display: none; or visibility: hidden; for better accessibility */
main section img,
main section:nth-child(2),
main section:nth-child(3) {
    display: none;
}

/* Main Content Styles */
ul {
    display: flex;
}

main section img {
    margin-bottom: 30px;
}

img:first-child,
img:nth-child(2) {
    margin-right: 30px;
}

/* Section 3 Styles */
main .featured {
    display: flex;
    max-height: 480px;
}

main .featured h2 {
    font-size: 120%;
    margin-bottom: 30px;
}

main .featured p {
    height: 280px;
    overflow: scroll;
}

main .featured button {
    margin-top: 30px;
    padding: 12px 60px;
    border-style: none;
    border-radius: 9px;
}

main .featured button:hover {
    background-color: darkcyan;
    color: white;
    transition-duration: 350ms;
}

footer {
    background-color: beige;
    height: 100px;
}